<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jizm.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.example.jizm.model.Account">
    <!--@mbg.generated-->
    <!--@Table account-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="local_id" jdbcType="INTEGER" property="localId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, local_id, user_id, `name`, money, modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.jizm.model.Account" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account (local_id, user_id, `name`, 
      money, modified)
    values (#{localId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{money,jdbcType=DOUBLE}, #{modified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.jizm.model.Account" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="localId != null">
        local_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="modified != null">
        modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="localId != null">
        #{localId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.jizm.model.Account">
    <!--@mbg.generated-->
    update account
    <set>
      <if test="localId != null">
        local_id = #{localId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.jizm.model.Account">
    <!--@mbg.generated-->
    update account
    set local_id = #{localId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      modified = #{modified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-24-->

    <!--auto generated by MybatisCodeHelper on 2020-04-27-->
  <select id="selectByLocalIdAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from account
    where local_id=#{localId,jdbcType=INTEGER} and user_id=#{userId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-29-->
  <select id="selectAllByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from account
    where user_id=#{userId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-29-->
  <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO account(
    local_id,
    user_id,
    name,
    money,
    )VALUES
    <foreach collection="list" item="element" index="index" separator=",">
      (
      #{element.localId,jdbcType=INTEGER},
      #{element.userId,jdbcType=INTEGER},
      #{element.name,jdbcType=VARCHAR},
      #{element.money,jdbcType=DOUBLE},
      )
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-04-30-->
  <update id="updateByUserIdAndLocalId">
    update account
    <set>
      <if test="updated.id != null">
        id = #{updated.id,jdbcType=INTEGER},
      </if>
      <if test="updated.localId != null">
        local_id = #{updated.localId,jdbcType=INTEGER},
      </if>
      <if test="updated.userId != null">
        user_id = #{updated.userId,jdbcType=INTEGER},
      </if>
      <if test="updated.name != null">
        name = #{updated.name,jdbcType=VARCHAR},
      </if>
      <if test="updated.money != null">
        money = #{updated.money,jdbcType=DOUBLE},
      </if>
      <if test="updated.modified != null">
        modified = #{updated.modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id=#{userId,jdbcType=INTEGER} and local_id=#{localId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-02-->
  <select id="selectByModifiedGreaterThanAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from account
    where modified <![CDATA[>]]> #{minModified,jdbcType=TIMESTAMP} and user_id=#{userId,jdbcType=INTEGER}
  </select>


</mapper>