<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jizm.dao.BillMapper">
  <resultMap id="BaseResultMap" type="com.example.jizm.model.Bill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="local_id" jdbcType="INTEGER" property="localId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <association property="account" javaType="com.example.jizm.model.Account"
                 column="{userId=user_id,localId=local_id}"
                 select="com.example.jizm.dao.AccountMapper.selectByLocalIdAndUserId">
    </association>
    <association property="category" javaType="com.example.jizm.model.Category"
                 column="{userId=user_id,localId=local_id}"
                 select="com.example.jizm.dao.CategoryMapper.selectByLocalIdAndUserId">
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, local_id, account_id, category_id, user_id, `type`, `name`, `date`, money, modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.jizm.model.Bill" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bill (local_id, account_id, category_id, 
      user_id, `type`, `name`, 
      `date`, money, modified
      )
    values (#{localId,jdbcType=INTEGER}, #{account.id,jdbcType=INTEGER}, #{category.id,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{money,jdbcType=DOUBLE}, #{modified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.jizm.model.Bill" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="localId != null">
        local_id,
      </if>
      <if test="account.id != null">
        account_id,
      </if>
      <if test="category.id != null">
        category_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="modified != null">
        modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="localId != null">
        #{localId,jdbcType=INTEGER},
      </if>
      <if test="account.id != null">
        #{account.id,jdbcType=INTEGER},
      </if>
      <if test="category.id != null">
        #{category.id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.jizm.model.Bill">
    <!--@mbg.generated-->
    update bill
    <set>
      <if test="localId != null">
        local_id = #{localId,jdbcType=INTEGER},
      </if>
      <if test="account.id != null">
        account_id = #{account.id,jdbcType=INTEGER},
      </if>
      <if test="category.id != null">
        category_id = #{category.id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.jizm.model.Bill">
    <!--@mbg.generated-->
    update bill
    set local_id = #{localId,jdbcType=INTEGER},
      account_id = #{account.id,jdbcType=INTEGER},
      category_id = #{category.id,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=DOUBLE},
      modified = #{modified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAllByCategoryIdAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bill
    where category_id=#{categoryId,jdbcType=INTEGER} and user_id=#{userId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-27-->
  <select id="selectByLocalIdAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bill
    where local_id=#{localId,jdbcType=INTEGER} and user_id=#{userId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-29-->
  <select id="selectAllByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bill
    where user_id=#{userId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-29-->
  <select id="selectAllByUserIdAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bill
    where user_id=#{userId,jdbcType=INTEGER} and `type`=#{type,jdbcType=INTEGER}
  </select>
</mapper>